.jumbotron{


    background-color: #D3D3D3;

    border-radius: 15px;

    font-size:"200px";
    margin: 25px 0px 25px 0px;



}
.container{


}

hr {
    background-color: #E8E8E8;
}

.lasso path {
    stroke: rgb(80,80,80);
    stroke-width:2px;
}

.lasso .drawn {
    fill-opacity:.05 ;
}

.lasso .loop_close {
    fill:none;
    stroke-dasharray: 4,4;
}

.lasso .origin {
    fill:#3399FF;
    fill-opacity:.5;
}


.possible {
    fill: #EC888C;
}

.selected {
    fill: steelblue;
}